<%= form_for @article,:html => {:multipart => true} do |f| %>
				<div class="row-fluid">
					<div class="widget_container">
						<div class="well">
							<div class="navbar navbar-static navbar_as_heading">
								<div class="navbar-inner">
									<div class="container" style="width: auto;">
										<a class="brand"><i class="icon-th-large-1"></i> Add New Article</a>
									</div>
								</div>
							</div>
              Category: <%= f.select :category_id ,Category.all.map { |category| [category.name,category.id]}%> 
              <%= f.text_field :title , :class=>"input-xxlarge-fluid",:placeholder=>"Title"%>
              <%= f.text_field :summary , :class=>"input-xxlarge-fluid",:placeholder=>"Summay"%>
              <%= f.text_field :from , :class=>"input-xxlarge-fluid",:placeholder=>"来源"%>
              Cover: <%= f.file_field :cover %>
              <%= f.cktext_area :content, :placeholder=>"Enter text ..." ,:style=>"width: 100%; height: 250px;" %>
              <div class="field">
                  <%= f.label :tag_list, "Tags (separated by commas)" %><br />
                  <%= f.text_field :tag_list %>
              </div>
              <%= f.submit %>
						</div>
					</div>
				</div>
<% end %>
