
<div class="row-fluid">
  <div class="widget_container">
    <div class="well">
<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @article.title %>
</p>

<p>
  <b>Summary:</b>
  <%= @article.summary %>
</p>

<p>
  <b>Cover:</b>
  <img src="<%= @article.cover %>" alt="" />
</p>

<p>
  <b>Content:</b>
  <%=raw @article.content %>
</p>

<p>
  <b>User:</b>
  <%= @article.user_id %>
</p>


<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
</div>
</div>
</div>
