<%= form_for(@page_section) do |f| %>
  <% if @page_section.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page_section.errors.count, "error") %> prohibited this page_section from being saved:</h2>

      <ul>
      <% @page_section.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :index %><br />
    <%= f.text_field :index %>
  </div>
  <div class="field">
    <h4>choose article</h4>
    <% Article.all.each do |article| %>
      <%= check_box_tag 'article_ids[]',article.id %> <%= article.title %>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
