
<div class="widget_container">
  <div class="well">
<p id="notice"><%= notice %></p>

<p>
  <b>Page:</b>
  <%= @page_section.page_id %>
</p>

<p>
  <b>Name:</b>
  <%= @page_section.name %>
</p>

<p>
  <b>Index:</b>
  <%= @page_section.index %>
</p>
<p>
  <b>Section:</b>
  <%= @page_section.articles %>
</p>


<%= link_to 'Edit', edit_page_section_path(@page_section) %> |
<%= link_to 'Back', page_sections_path %>

</div>
</div>
