<%= link_to "Phb", root_path, :class => 'brand' %>
<ul class="nav">
  <% if user_signed_in? %>
    <li>
      <a href="/articles">articles</a>
    </li>
    <li>
      <a href="/comments">comments</a>
    </li>
    <li>
    <%= link_to current_user.email, edit_user_registration_path %>
    </li>
    <li>
    <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>
    </li>
    <% if current_user.has_role? :admin %>
      <li>
      <%= link_to 'Admin', users_path %>
      </li>
    <% end %>
  <% else %>
    <li>
    <%= link_to 'Login', new_user_session_path %>
    </li>
    <li>
    <%= link_to 'Sign up', new_user_registration_path %>
    </li>
  <% end %>
</ul>
